.characters {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__descriptions {
        border: solid 2px rgb(72, 52, 37); 
        text-align: center;  
        font-family: Nunito, sans-serif;  
        border-radius: 10px; 
        background-color: rgba(106, 71, 57, 0.3);
    }

    &__title {
        // border: solid 2px rgb(216, 17, 17);
        font-size: 3rem;
        color:rgb(145, 103, 71);
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
       
    }

    &__info {
        // border: solid 2px rgb(17, 216, 17);
        display: flex;
    }

    &__text {
        // border: solid 2px rgb(113, 89, 218);
        line-height: 35px;
        padding: 5px;
        margin: 0px 50px;
        font-size: 1.1rem;

        
    }

    &__pictures {
        &--img {
            // border: solid 2px rgb(52, 208, 216);
            width: 350px;
            margin: 0px 50px;
            padding-bottom: 50px; 
        }
    }

    &__button {
        border : solid 2px red;
        width: 150svh;
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        
       
              
        
        &--icon {
            border : solid 2px green;
            border-radius: 100%;
            padding : 0%;
            width: 100%;      
            
                &--img {
                border : solid 2px blue;
                height: 100%;
                width: 100%; 
                border-radius: 100%;
                object-fit: cover;
                cursor: pointer;
                
                
         }

        }
    }
}